body{
  background-color: #9599B1;
}

div{
  margin-left: 33%;
  margin-right: 30%;
  font-family: "Khula";
}

ul{
  border: 2px solid white;
  border-radius: 5px
}

.delete{
  float: right;
  margin-right: 1em;
}
.font{
  font-family: "Stardos Stencil";
}
.center{
  text-align: center;
}

.status_true{
  color: #11471E;
  text-decoration: line-through;
}
.status_false{
  color: #841319;
}