<!DOCTYPE html>
<html lang="en" ng-app="ListApp">
<head>
  <meta charset="utf-8">

  <title>Todo List AngularJS App</title>

  <link rel="stylesheet" href="app.css">
  <link href='https://fonts.googleapis.com/css?family=Stardos+Stencil|Khula' rel='stylesheet' type='text/css'>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

</head>
<body>

  <h1>To Do List </h1>
    <div ng-controller="ListCtrl">

      <h2>You have {{ (items | filter: {status:false}).length }} chore(s) left to do!</h2>

      <ul>
        <li ng-repeat="item in items | orderBy: 'status'">
          <input type="checkbox" ng-model="item.status">
          <span class="status_{{item.status}}"> {{ item.chore }} </span>
        </li>
      </ul>

      <form>
        <input type="text" placeholder="Enter a Chore" ng-model="newChore">
        <button ng-click="addChore()">Add</button>
      </form>


    </div>

  <script src="app.js"></script>

</body>
</html>
